<div class="feed">
  <div class="post">
    <div class="header">
      <div class="miniature">
        <img src="https://hd.wallpaperswide.com/thumbs/apple_on_black_background-t2.jpg">
      </div>
      <p id="creator"><a routerLink="/username">therock</a></p>
      <p style="color: gray">•</p>
      <p style="color: gray">1d</p>
      <p></p>
      <button aria-label="menu" mat-icon-button>
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
    <div class="image">
      <img alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </div>
    <div class="actions">
      <button aria-label="" mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button aria-label="" mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
      <span></span>
      <button aria-label="" mat-icon-button>
        <mat-icon>bookmark</mat-icon>
      </button>
    </div>
    <div class="likes">
      <p style="font-weight: bold; margin: 2% 0">644,900 likes</p>
    </div>
    <div class="desc">
      <a routerLink="/username">therock</a>
      My honor to join TKOGrp Board of Directors
      (who owns wwe & ufc)
    </div>
    <div class="commets">
      <p style="color: gray; font-weight: lighter;padding-bottom: 2%">View all 7,233 comments</p>
    </div>
  </div>
</div>
