<div class="container" style="display: grid; grid-template-columns: repeat(2,50%); height: 100vh">
  <section class="image">

  </section>
  <section class="login"
           style="display: flex; justify-content: center; flex-direction: column; margin: 10%">
    <mat-card style="display: flex; justify-content: center; flex-direction: column; padding: 5% 10%; background-color: rgb(247, 247, 247)">
      <div class="logo" style="position: relative; width: 100%; height: 4em;">
        <img alt="instagram logo"
             ngSrc="https://www.pngitem.com/pimgs/m/595-5957085_instagram-logo-and-name-hd-png-download.png"
             fill
             style="object-fit: contain;">
      </div>
      <p>1</p>
      <mat-card-content>Simple card</mat-card-content>
    </mat-card>
  </section>
</div>
