<div class="container">
  <div class="post">
    <div class="image">
      <img
        alt="post"
        fill
        ngSrc="{{postState$().postInfo.image === ''? defaultPhoto : postState$().postInfo.image}}">
    </div>
    <div class="info">
      <div class="up" style="align-self: flex-start; width: 100%">
        <mat-card>
          <mat-card-header>
            <div class="avatar"
                 mat-card-avatar
                 style="background-image: url('{{postState$().postInfo.photo}}'); background-size: cover;">
            </div>
            <mat-card-title><a routerLink="/{{username}}"
                               style="text-decoration: none; color: black; font-weight: bold">{{ username }}</a>
            </mat-card-title>
            <mat-card-subtitle>{{ postState$().postInfo.timeUntilNow.toString() }} days ago</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="down">
        <div class="scroll">
          <mat-card-content style="display: flex; justify-content: center; flex-direction: column">
            <p>{{ postState$().postInfo.description }}</p>
            @for (hashtag of postState$().postInfo.hashtags; track $index) {
              <p style="color:blue;">#{{ hashtag }}</p>
            }
            <p style="color:gray; margin: 5% 0; text-align: center">Comments:</p>
            @if (postState$().comments.length === 0) {
              <p style="color:gray; margin: 5% 0; text-align: center">
                There are no comments. Be the first of share your thoughts!
              </p>
            } @else {
              @for (comment of postState$().comments; track $index) {
                <div style="display: flex; justify-content: space-between">
                  <mat-card-header
                    style="padding: 0 0; display: flex; flex-direction: row-reverse;justify-content: flex-end; flex-grow: 4">
                    <a routerLink="/{{comment.authorUsername}}" style="display: compact; margin-right: 3% ">
                      <div class="avatar"
                           mat-card-avatar
                           style="background-image: url('{{comment.authorPhoto}}'); background-size: cover;">
                      </div>
                    </a>

                    <mat-card-title style="text-decoration: none; font-weight: normal">
                      <a style="text-decoration: none; color: black; font-weight: bold"
                         routerLink="/{{comment.authorUsername}}">{{ comment.authorUsername }}</a>
                      {{ comment.comment }}
                    </mat-card-title>

                    <mat-card-subtitle style="margin-bottom: 5%">
                      {{ comment.timeUntilNow.toString() }} days ago
                    </mat-card-subtitle>

                  </mat-card-header>
                  @if (comment.authorUsername === authenticateUser) {
                    <button mat-icon-button
                            [matMenuTriggerFor]="menu"
                            aria-label="Edit comment">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                      <button mat-menu-item (click)="openDialog(comment)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item (click)="deleteComment(comment)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
                  }
                </div>
              }
              @if (postState$().commentMetadata.pageNumber < postState$().commentMetadata.totalPages) {
                <button color="primary"
                        mat-button
                        (click)="addComments()"
                        style="margin: 0 20%">
                  Load more comments
                </button>
              } @else {
                <p style="color:gray; margin: 5% 0; text-align: center">There are no more comments.</p>
              }
            }
          </mat-card-content>
        </div>
        <div class="end">
          <mat-card-actions style="display: flex; justify-content: space-between">
            <div class="left">
              <button (click)="likePost()" aria-label="liked" mat-icon-button>
                <mat-icon>{{ postState$().postInfo.like ? 'favorite' : 'favorite_border' }}</mat-icon>
              </button>
            </div>
          </mat-card-actions>
          <mat-card-content class="stats">
            <p>{{ postState$().postInfo.likesCount }} likes</p>
            <p style="font-weight: lighter; color: gray">{{ postState$().postInfo.timeUntilNow.toString() }} days
              ago</p>
          </mat-card-content>
          <form (ngSubmit)="OnSubmit()"
                class="comment"
                style="display: flex; justify-content: space-between; margin-left: 1%">
            <mat-form-field appearance="outline" color="primary" style="width: 100%">
              <input [formControl]="commentFormControl"
                     matInput
                     placeholder="Add comment"
                     type="text">
              <mat-hint>Type above to add a comment.</mat-hint>
              @if (commentFormControl.hasError('required')) {
                <mat-error>Comment cannot be <strong>empty!</strong></mat-error>
              } @else if (commentFormControl.hasError('maxlength')) {
                <mat-error>Comment is too <strong>long!</strong></mat-error>
              }
            </mat-form-field>
            <button aria-label="Submit"
                    mat-icon-button
                    type="submit">
              <mat-icon>send</mat-icon>
            </button>
          </form>
          @if (addCommentLoadingEffect$()) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          }
        </div>
      </div>
    </div>
  </div>
</div>
