<section class="posts" style="display:flex; justify-content: center">
  <div class="grid">
    @for (post of (posts$|async); track $index) {
      <a routerLink="{{post.id}}">
        <div class="image">
          <img
            alt="image"
            fill
            ngSrc="{{post.image}}">
          <div class="stats">
            <p style="color: black">&#9829; {{ post.likesCount }} 🗩 {{ post.commentCounts }}</p>
          </div>
        </div>
      </a>
    }
  </div>
</section>
@if (loginService.username() === username) {
  <button mat-fab class="floating-button" color="primary" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
}
