<h2 mat-dialog-title>Edit Post:</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>New Image</mat-label>
    <input [(ngModel)]="data.image" matInput>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>New Description</mat-label>
    <input [(ngModel)]="data.description" matInput>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>New Hashtags</mat-label>
    <input [(ngModel)]="data.hashtags" matInput placeholder="Comma-separated list">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Cancel</button>
  <button [mat-dialog-close]="data" cdkFocusInitial mat-button>Edit</button>
</mat-dialog-actions>
