<section class="posts" style="display:flex; justify-content: center">
  <div class="grid">
    <div class="image">
      <img
        alt="image"
        fill
        ngSrc="https://img.freepik.com/photos-gratuite/peinture-lac-montagne-montagne-arriere-plan_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.1788068356.1706832000&semt=sph">
    <div class="stats">
<!--      <mat-icon>heart</mat-icon>-->
      <p>&#9829; 320K 🗩 55K</p>
    </div>

    </div>
    <div class="image">
      <img
        alt="image"
        fill
        ngSrc="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630">
    </div>
    <div class="image">
      <img
        alt="image"
        fill
        ngSrc="https://img.freepik.com/photos-gratuite/peinture-numerique-montagne-arbre-colore-au-premier-plan_1340-25699.jpg">
    </div>
    <div class="image">
      <img
        alt="image"
        fill
        ngSrc="https://img.freepik.com/photos-gratuite/peinture-lac-montagne-montagne-arriere-plan_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.1788068356.1706832000&semt=sph">
    </div>
    <div class="image">
      <img
        alt="image"
        fill
        ngSrc="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630">
    </div>
    <div class="image">
      <img
        alt="image"
        fill
        ngSrc="https://img.freepik.com/photos-gratuite/peinture-numerique-montagne-arbre-colore-au-premier-plan_1340-25699.jpg">
    </div>
    <div class="image">
      <img
        alt="image"
        fill
        ngSrc="https://img.freepik.com/photos-gratuite/peinture-lac-montagne-montagne-arriere-plan_188544-9126.jpg?size=626&ext=jpg&ga=GA1.1.1788068356.1706832000&semt=sph">
    </div>
    <div class="image">
      <img
        alt="image"
        fill
        ngSrc="https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=1200&h=630">
    </div>
    <div class="image">
      <img
        alt="image"
        fill
        ngSrc="https://img.freepik.com/photos-gratuite/peinture-numerique-montagne-arbre-colore-au-premier-plan_1340-25699.jpg">
    </div>
  </div>
</section>


<!--<div class="grid">-->
<!--  <div class="image" style="border: solid red">-->
<!--    <p>g</p>-->
<!--  </div>-->
<!--  <div class="image" style="border: solid red">-->
<!--    <p>g</p>-->
<!--  </div>-->
<!--  <div class="image" style="border: solid red">-->
<!--    <p>g</p>-->
<!--  </div>-->
<!--</div>-->
