.tabs{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  mat-tab-group{
    //max-width: 20%;
    width: 100%;
    color: black;
    mat-tab{
      color: black;
    }
  }
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it appears above other content */
}
