<h2 mat-dialog-title>Add New Post:</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Image:</mat-label>
    <input [(ngModel)]="data.image" matInput>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Description:</mat-label>
    <input [(ngModel)]="data.description" matInput>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Hashtags:</mat-label>
    <input [(ngModel)]="data.hashtags" matInput placeholder="Comma-separated list">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Cancel</button>
  <button [mat-dialog-close]="data" cdkFocusInitial mat-button>Add New Post</button>
</mat-dialog-actions>
