<div class="profile">
  <div class="image">
    <div class="border">
      @if ((personState$|async)!.info.photo === "") {
        <img alt="photo"
             fill
             ngSrc="{{defaultPhoto}}"
             priority
        >
      } @else {
        <img alt="photo"
             fill
             ngSrc="{{ (personState$|async)!.info.photo }}"
             priority
        >
      }
    </div>
  </div>
  <div class="info">
    <div class="header">
      <div class="checkmark">
        <p style="margin-right: 2%; font-weight: bold">{{ (personState$|async)!.info.username }}</p>
        @if ((personState$|async)!.info.validated) {
          <mat-icon color="accent">check_circle</mat-icon>
        }
      </div>
      <div class="buttons">
        <button (click)="follow()" mat-raised-button>
          {{ (personState$|async)!.info.follow ? 'Unfollow' : 'Follow' }}
        </button>
        <!--        <button mat-raised-button>Message</button>-->
      </div>
    </div>
    <div class="stats">
      <div>
        <p><span style="font-weight: bold">{{ (personState$|async)!.stats.posts }}</span> posts</p>
      </div>
      <div class="middle">
        <p><span style="font-weight: bold">{{ (personState$|async)!.stats.followers }}</span> followers</p>
      </div>
      <div class="last">
        <p><span style="font-weight: bold">{{ (personState$|async)!.stats.followings }}</span> following</p>
      </div>
    </div>
    <div class="bio">
      <p
        style="font-weight: bold">{{ (personState$|async)!.info.firstname }} {{ (personState$|async)!.info.lastname }}</p>
      <br>
      <p>{{ (personState$|async)!.info.bio }}</p>
    </div>
  </div>
</div>
