<div class="profile">
  <div class="image">
    <div class="border">
      <img ngSrc="https://i.pinimg.com/736x/db/6d/44/db6d44e139cd3f211d6f9bd78a00c2c4.jpg"
           alt="photo"
           fill>
    </div>
  </div>
  <div class="info">
    <div class="header">
      <div class="checkmark">
        <p style="margin-right: 2%">therock</p>
        <mat-icon>check_circle</mat-icon>
      </div>

      <span></span>
      <button mat-raised-button>Follow</button>
      <button mat-raised-button>Message</button>
    </div>
    <div class="stats">
      <div>
        <p><span style="font-weight: bold">7,564</span> posts</p>
      </div>
      <div class="middle">
        <p><span style="font-weight: bold">396M</span> followers</p>
      </div>
      <div class="last">
        <p><span style="font-weight: bold">848</span> following</p>
      </div>
    </div>
    <div class="bio">
      <p style="font-weight: bold">Dwayne Johnson</p>
      <br>
      <p>builder of stuff</p>
    </div>
  </div>
</div>
